<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>albumName</key>
	<string>The Elder Scrolls V: Skyrim: Original Game Soundtrack</string>
	<key>artistName</key>
	<string>Jeremy Soule</string>
	<key>coverURL</key>
	<string>https://lastfm-img2.akamaized.net/i/u/174s/88b410939720400ea7f6775af41b787f.png</string>
	<key>currentPosition</key>
	<string>111,008003234863</string>
	<key>songDuration</key>
	<string>190000</string>
	<key>songName</key>
	<string>A Chance Meeting</string>
	<key>songRating</key>
	<string>★★☆☆☆</string>
</dict>
</plist>
